.standard-p {
 font-family: Helvetica, Arial;
 color: black;
}

.gallery-container {
 width: 85%;
 border: 1px solid yellow;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-left: 7.5%;
 margin-right: auto;
}

.gallery-columnA {
 width: 25%;
 border: 1px solid red;
 margin-left: 0;
 margin-right: 5%;
}

.gallery-columnB {
 width: 25%;
 border: 1px solid green;
 margin-left: 0;
 margin-right: 5%;
}

.gallery-columnC {
 width: 25%;
 border: 1px solid blue;
 margin-left: 0;
 margin-right: 0;
}
